---
---

@charset "utf-8";

// variables.less
$theme-primary: #1AB3A4;
$theme-navy: #2F4050;
$theme-dark: #222;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base",
        "aiis"
;
