<section class="no-padding overflow-hidden" id="help">
  <div class="container-fluid px-5">
    <div class="row p-5">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Help</h2>
      </div>
    </div>
    <div class="row no-gutter pb-5">
      <div class="col-lg-4 col-sm-6">
        <a href="project.html" class="help-box" target="_blank">
          <img src="img/help/thumb/project.jpg" class="help-img" alt="">
          <div class="help-box-caption">
            <div class="help-box-caption-content">
              <div class="project-category text-faded">
                이용가이드
              </div>
              <div class="project-name">
                프로젝트 참여 방법 안내
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="labeling.html" class="help-box" target="_blank">
          <img src="img/help/thumb/labeling.jpg" class="help-img" alt="">
          <div class="help-box-caption">
            <div class="help-box-caption-content">
              <div class="project-category text-faded">
                작업가이드
              </div>
              <div class="project-name">
                라벨링 작업 방법 안내
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="check.html" class="help-box" target="_blank">
          <img src="img/help/thumb/check.jpg" class="help-img" alt="">
          <div class="help-box-caption">
            <div class="help-box-caption-content">
              <div class="project-category text-faded">
                작업가이드
              </div>
              <div class="project-name">
                검수 작업 방법 안내
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
