<section class="bg-navy" id="consortium">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading text-light">Consortium</h2>
        <hr class="light my-5">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6">
        <a href="https://www.snu.ac.kr/" type="_blank" class="circle partners-box">
          <img src="img/partners/logo_snu.png" class="circle img-responsive" alt="">
          <div class="partners-box-caption">
            <div class="partners-box-caption-content">
              <div class="project-category text-faded">
                수행기관
              </div>
              <div class="project-name">
                서울대학교
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="http://utopsoft.co.kr/" type="_blank" class="circle partners-box">
          <img src="img/partners/logo_utop.png" class="circle img-responsive" alt="">
          <div class="partners-box-caption">
            <div class="partners-box-caption-content">
              <div class="project-category text-faded">
                Consortium
              </div>
              <div class="project-name">
                (주)유탑소프트
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="https://openlink.kr/" type="_blank" class="circle partners-box">
          <img src="img/partners/logo_ols.png" class="circle img-responsive" alt="">
          <div class="partners-box-caption">
            <div class="partners-box-caption-content">
              <div class="project-category text-faded">
                Consortium
              </div>
              <div class="project-name">
                (주)오픈링크시스템
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="http://www.futurerobot.com/" type="_blank" class="circle partners-box">
          <img src="img/partners/logo_future.png" class="circle img-responsive" alt="">
          <div class="partners-box-caption">
            <div class="partners-box-caption-content">
              <div class="project-category text-faded">
                Consortium
              </div>
              <div class="project-name">
                (주)퓨처로봇
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="https://robo3.com/" type="_blank" class="circle partners-box">
          <img src="img/partners/logo_robo3.png" class="circle img-responsive" alt="">
          <div class="partners-box-caption">
            <div class="partners-box-caption-content">
              <div class="project-category text-faded">
                Consortium
              </div>
              <div class="project-name">
                (주)로보쓰리
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="https://www.hancomrobotics.com/" type="_blank" class="circle partners-box">
          <img src="img/partners/logo_hancom.png" class="circle img-responsive" alt="">
          <div class="partners-box-caption">
            <div class="partners-box-caption-content">
              <div class="project-category text-faded">
                Consortium
              </div>
              <div class="project-name">
                (주)한컴로보틱스
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
