<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Crowd Sourcing</h2>
        <hr class="mt-5">
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-briefcase wow bounceIn text-mint"></i>
          <h3 class="m-4">일자리 창출</h3>
          <p class="text-muted">경력단절 여성, 장애인 등의 사회적 약자를<br/>포함하여 다양한 사람들에게 동등한<br/>경제활동의 기회가 주어지며,<br/>향후 관련 업계로의 취직을 희망하는 경우<br/>커리어 개발에 도움이 될 수 있습니다.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-robot wow bounceIn text-mint" data-wow-delay=".1s"></i>
          <h3 class="m-4">산업적 효과</h3>
          <p class="text-muted">안내 로봇의 성능을 높은 수준으로 구현하기 위한 멀티모달 데이터의 구축이 본 프로젝트가 목표하고자 하는 방향이며, 이를 통해 로봇산업과 연관된 제조업 및 IT 산업 전후방으로 성장을 이끌어 낼 수 있습니다.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-users wow bounceIn text-mint" data-wow-delay=".2s"></i>
          <h3 class="m-4">대중 참여</h3>
          <p class="text-muted">현 AI산업을 성장시키는<br/>한 명의 구성원으로서 참여할 수 있습니다.</p>
        </div>
      </div>

      <!--
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-heart wow bounceIn text-mint" data-wow-delay=".3s"></i>
          <h3>Made with Love</h3>
          <p class="text-muted">You have to make your websites with love these days!</p>
        </div>
      </div>
      -->
    </div>
  </div>
</section>
