<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout_default}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <title>동영상 라벨링</title>
  <!-- Toastr style -->
  <link rel="stylesheet" th:href="@{/css/toastr.min.css}" />
</head>

<body>
  <div layout:fragment="content">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5 id="imageName" style="margin: 10px 0 0 5px"></h5>
            <div class="ibox-tools">
              <button type="button" class="btn btn-us-grey" id="help">작업 방법 안내</button>
              <button type="button" class="btn btn-us-grey btn-130 back-list">리스트로 나가기</button>
            </div>
          </div>
          <div class="ibox-content">
            <input type="hidden" name="result" th:data-value="${result}">
            <input type="hidden" name="referer" th:value="${referer}">
            <!-- Create the Label Studio container -->
            <div id="label-studio"></div>
            <input type="hidden" name="isInspection" th:data-value="${isInspection}">
            <div th:if="${isInspection}" style="margin-bottom: 15px; display: none" id="inspectionText">7개 항목 중 6개 이상이 올바르게 선택되었다면 "적합", 올바르지 않은 항목이 2개 이상이면 "부적합" 버튼을 눌러주세요.</div>
            <button th:if="${isInspection}" sec:authorize="hasAnyRole('ROLE_MASTER', 'ROLE_CHECKERL1', 'ROLE_CHECKERL2')" type="button" class="btn btn-default btn-inspection" id="btn-inspection-fail" style="width: 50%; display: none">부적합</button>
            <button th:if="${isInspection}" sec:authorize="hasAnyRole('ROLE_MASTER', 'ROLE_CHECKERL1', 'ROLE_CHECKERL2')" type="button" class="btn btn-success btn-inspection" id="btn-inspection-pass" style="width: 49%; display: none">적합</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Modal Start -->
    <div class="modal inmodal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" style="width: 300px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span><span class="sr-only">닫기</span>
            </button>
            <h4 class="modal-title" id="modal-title"></h4>
          </div>
          <div class="modal-body">
            정상적으로 업데이트 되었습니다.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-w-m btn-default back-list">리스트로 가기</button>
            <button type="button" class="btn btn-w-m btn-primary" id="btn-next-labeling">다음 작업</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Edit modal end -->

  </div>

  <th:block layout:fragment="pageScript">
    <!-- Toastr -->
    <script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>
    <script>
      $(function() {

        let result = JSON.parse(document.getElementsByName('result')[0].dataset.value);
        document.getElementById("imageName").innerHTML = result.imageName;

        let referer = document.getElementsByName('referer')[0].value;
        if (referer) {
          toastr.options = {
            closeButton: true,
            progressBar: true,
            showMethod: 'slideDown',
            positionClass: "toast-top-center",
            timeOut: 7000
          };
          toastr.info('파일명 : ' + result.imageName, '다음 작업으로 이동되었습니다.')
        }

        $('.back-list').on('click', function() {
          if (!confirm('리스트로 나가시겠습니까?')) {
            return false;
          }
          window.location.href = "/" + window.location.href.split("/")[3];
        });

        $('.btn-inspection').on('click', function() {
          let pass = 'false'
          let confirmText = '실패 처리 하시겠습니까?';

          if ($(this).attr('id') === 'btn-inspection-pass') {
            pass = 'true';
            confirmText = '통과 처리 하시겠습니까?'
          }

          if (!confirm(confirmText)) {
            return false;
          }

          $.ajax({
            url: $.pageUrl,
            type: 'PUT',
            data: JSON.stringify({
              seq: result.inspectionSeq,
              pass: pass
            }),
            contentType: 'application/json',
            success: function(result) {
              $.callModal('검수 작업');
            }
          });
        });

        $('#btn-next-labeling').on('click', function() {
          $.ajax({
            url: $.pageUrl + '/next',
            type: 'GET',
            contentType: 'application/json',
            success: function(result) {
              if (result.errorCode === 'LB001') {
                $.resultToString(result);
                return false;
              }
              window.location.href = '/' + location.href.split('/')[3] + '/' + result.response.seq;
            }
          });
        });

        $('#help').on('click', function() {
          let host = window.location.href.split("/")[2]
          let resource = $(this).html() === '라벨링 작업 방법 안내' ? 'labeling' : 'check';
          window.open(`http://${host}/help/open/${resource}`, '_blank');
        });


        let labelOutput = result.labelOutput;

        let user = {
          pk: result.memberSeq,
          lastName: result.name
        };

        let task = {
          completions: [],
          predictions: [],
          id: result.seq,
          data: {
            image: result.imagePath,
            video: `<video src='${result.videoPath}' width=100% controls>`,
          }
        };

        if (labelOutput != null) {
          let completions = {};
          completions.result = JSON.parse(labelOutput)
          task.completions.push(completions);
        }

        let label = `
                    <View>
                      <View style="margin-top: 20px; padding: 25px;box-shadow: 2px 2px 8px #AAA;">
                        <Header value="아래 사진을 보고 물음에 답해주세요."></Header>
                        <View style="margin-top: 20px; padding: 25px;box-shadow: 2px 2px 8px #AAA;">
                          <Header value="아래 사진 속 인물의 성별과 일치하는 버튼 하나를 클릭해주세요(남자, 여자, 알수없음)."></Header>
                          <Header value="버튼을 클릭하고, 사진 속 인물의 얼굴을 '도움말' 의 예시 이미지와 같이 네모 박스를 그려주세요."></Header>
                          <Image name="image" value="$image"></Image>
                          <RectangleLabels name="bbox" toName="image">
                            <Label value="남자" background="red"></Label>
                            <Label value="여자" background="yellow"></Label>
                            <Label value="알수없음" background="black"></Label>
                          </RectangleLabels>
                        </View>
                        <View style="margin-top: 20px; padding: 25px;box-shadow: 2px 2px 8px #AAA;">
                          <Header value="작업자 당신을 기준으로, 위 사진 속 인물이 어느 쪽을 바라보고 있나요?"></Header>
                          <Header value="(당신을 바라보고 있으면 '앞', 등을 돌리고 있으면 '뒤', 당신의 왼쪽을 바라보고 있으면 '왼쪽' 을 선택해주세요.)"></Header>
                          <Header value="(더 자세한 설명은 '도움말' 을 참고해주세요.)"></Header>
                          <Choices name="gaze" toName="image" showInLine="true" required="true">
                            <Choice value="앞"></Choice>
                            <Choice value="뒤"></Choice>
                            <Choice value="왼쪽"></Choice>
                            <Choice value="오른쪽"></Choice>
                            <Choice value="위"></Choice>
                            <Choice value="아래"></Choice>
                          </Choices>
                        </View>
                        <View style="margin-top: 20px; padding: 25px;box-shadow: 2px 2px 8px #AAA;">
                          <Header value="위 사진 속 인물의 표정에서 느껴지는 감정을 선택해주세요."></Header>
                          <Header value="(해당 인물의 감정은 작업자가 보고 느끼는 대로 판단해주세요.)"></Header>
                          <Choices name="emotion" toName="image" showInLine="true" required="true">
                            <Choice value="행복"></Choice>
                            <Choice value="놀람"></Choice>
                            <Choice value="슬픔"></Choice>
                            <Choice value="화남"></Choice>
                            <Choice value="중립"></Choice>
                            <Choice value="해당없음"></Choice>
                          </Choices>
                        </View>
                      </View>
                      <View style="margin-top: 20px; padding: 25px; box-shadow: 2px 2px 8px #AAA;">
                        <Header value="아래 영상을 보고 물음에 답해주세요."></Header>
                        <HyperText name="video" value="$video"/>
                        <View style="margin-top: 20px; padding: 25px;box-shadow: 2px 2px 8px #AAA;">
                          <Header value="위 영상 속 인물이 하는 말을 들리는 대로 모두 입력해주세요."></Header>
                          <TextArea name="text" toName="video" showSubmitButton="true" maxSubmissions="1" editable="true" required="true" visibleWhen="choice-selected" whenTagName="choices2" whenChoiceValue="no"></TextArea>
                        </View>
                        <View style="margin-top: 20px; padding: 25px;box-shadow: 2px 2px 8px #AAA;">
                          <Header value="위 영상 속 인물이 하는 말(목소리)에서 느껴지는 감정을 선택해주세요."></Header>
                          <Header value="(해당 인물의 감정은 작업자가 듣고 느끼는 대로 판단해주세요.)"></Header>
                          <Choices name="tone" toName="video" choice="single" required="true">
                            <Choice alias="행복" value="행복"></Choice>
                            <Choice alias="놀람" value="놀람"></Choice>
                            <Choice alias="슬픔" value="슬픔"></Choice>
                            <Choice alias="화남" value="화남"></Choice>
                            <Choice alias="중립" value="중립"></Choice>
                          </Choices>
                        </View>
                        <View style="margin-top: 20px; padding: 25px;box-shadow: 2px 2px 8px #AAA;">
                          <Header value="위 영상 속 인물이 말하고자 하는 바에 해당하는 것을 선택해주세요."></Header>
                          <Header value="(더 자세한 설명은 '도움말' 을 참고해주세요.)"></Header>
                          <Choices name="intent" toName="video" choice="single" required="true">
                            <Choice alias="요청-위치안내" value="요청-위치안내"></Choice>
                            <Choice alias="요청-기타안내" value="요청-기타안내"></Choice>
                            <Choice alias="질문-위치" value="질문-위치"></Choice>
                            <Choice alias="질문-기타" value="질문-기타"></Choice>
                            <Choice alias="인사" value="인사"></Choice>
                            <Choice alias="진술" value="진술"></Choice>
                          </Choices>
                        </View>
                        <View style="margin-top: 20px; padding: 25px;box-shadow: 2px 2px 8px #AAA;">
                          <Header value="위 영상 속 인물이 작업자 당신과 이야기하는 것처럼 느껴지신다면 '네', 아니면 '아니오'를 선택해주세요."></Header>
                          <Choices name="multimodal" toName="video" choice="single" required="true">
                            <Choice value="네"/>
                            <Choice value="아니오"/>
                          </Choices>
                        </View>
                      </View>
                    </View>
                `;

        let inspection = `
                    <View>
                      <View style="margin-top: 20px; padding: 25px;box-shadow: 2px 2px 8px #AAA;">
                      <Header value="아래 작업 내용을 보고 7개 항목 중 6개 이상이 올바르게 선택되었다면 '적합', 올바르지 않은 항목이 2개 이상이면 '부적합' 버튼을 눌러주세요."></Header>
                      <View style="margin-top: 20px; padding: 25px;box-shadow: 2px 2px 8px #AAA;">
                      <Header value="아래 사진 속 인물의 성별과 일치하는 색깔의 네모 박스가 인물의 얼굴에 맞게 올바르게 그려져 있는지 확인해주세요."></Header>
                      <Header value="(남자는 '빨간색', 여자는 '노란색', (성별을 알 수 없는 경우 선택하는) 알수없음은 '검은색' 으로 표시됩니다.)"></Header>
                      <Image name="image" value="$image"></Image>
                      <RectangleLabels name="bbox" toName="image">
                        <Label value="남자" background="red"></Label>
                        <Label value="여자" background="yellow"></Label>
                        <Label value="알수없음" background="black"></Label>
                      </RectangleLabels>
                      </View>
                      <View style="margin-top: 20px; padding: 25px;box-shadow: 2px 2px 8px #AAA;">
                      <Header value="작업자 당신을 기준으로 위 사진 속 인물이 바라보는 방향이 올바르게 선택되었는지 확인해주세요."></Header>
                      <Header value="(올바른 방향 선택에 대한 기준은 '도움말' 을 참고하세요.)"></Header>
                      <Choices name="gaze" toName="image" showInLine="true" required="true">
                        <Choice value="앞"></Choice>
                        <Choice value="뒤"></Choice>
                        <Choice value="왼쪽"></Choice>
                        <Choice value="오른쪽"></Choice>
                        <Choice value="위"></Choice>
                        <Choice value="아래"></Choice>
                      </Choices>
                      </View>
                      <View style="margin-top: 20px; padding: 25px;box-shadow: 2px 2px 8px #AAA;">
                      <Header value="위 사진 속 인물의 표정에서 느껴지는 감정이 올바르게 선택되었는지 확인해주세요."></Header>
                      <Header value="(해당 인물의 감정은 작업자가 보고 느끼는 대로 판단해주세요.)"></Header>
                       <Choices name="emotion" toName="image" showInLine="true" required="true">
                        <Choice value="행복"></Choice>
                        <Choice value="놀람"></Choice>
                        <Choice value="슬픔"></Choice>
                        <Choice value="화남"></Choice>
                        <Choice value="중립"></Choice>
                        <Choice value="해당없음"></Choice>
                      </Choices>
                      </View>
                      </View>
                      <View style="margin-top: 20px; padding: 25px; box-shadow: 2px 2px 8px #AAA;">
                        <Header value="아래 영상을 보고 물음에 답해주세요."></Header>
                        <HyperText name="video" value="$video"/>
                        <View style="margin-top: 20px; padding: 25px;box-shadow: 2px 2px 8px #AAA;">
                        <Header value="위 영상에서 들리는 말과 아래 적혀있는 글이 일치하는지 확인해주세요."></Header>
                        <Header value="(맞춤법이나 띄어쓰기, 기호와 상관없이 의미가 맞는지 확인해주세요.)"></Header>
                        <TextArea name="text" toName="video" showSubmitButton="true" maxSubmissions="1" editable="true" required="true" visibleWhen="choice-selected" whenTagName="choices2" whenChoiceValue="no"></TextArea>
                        </View>
                        <View style="margin-top: 20px; padding: 25px;box-shadow: 2px 2px 8px #AAA;">
                        <Header value="위 영상 속 인물이 하는 말(목소리)에서 느껴지는 감정이 올바르게 선택되었는지 확인해주세요."></Header>
                        <Header value="(해당 인물의 감정은 작업자가 듣고 느끼는 대로 판단해주세요.)"></Header>
                        <Choices name="tone" toName="video" choice="single" required="true">
                          <Choice alias="행복" value="행복"></Choice>
                          <Choice alias="놀람" value="놀람"></Choice>
                          <Choice alias="슬픔" value="슬픔"></Choice>
                          <Choice alias="화남" value="화남"></Choice>
                          <Choice alias="중립" value="중립"></Choice>
                        </Choices>
                        </View>
                        <View style="margin-top: 20px; padding: 25px;box-shadow: 2px 2px 8px #AAA;">
                        <Header value="위 영상 속 인물이 말하고자 하는 바에 해당하는 것이 올바르게 선택되었는지 확인해주세요."></Header>
                        <Header value="(더 자세한 설명은 '도움말' 을 참고해주세요.)"></Header>
                        <Choices name="intent" toName="video" choice="single" required="true">
                          <Choice alias="요청-위치안내" value="요청-위치안내"></Choice>
                          <Choice alias="요청-기타안내" value="요청-기타안내"></Choice>
                          <Choice alias="질문-위치" value="질문-위치"></Choice>
                          <Choice alias="질문-기타" value="질문-기타"></Choice>
                          <Choice alias="인사" value="인사"></Choice>
                          <Choice alias="진술" value="진술"></Choice>
                        </Choices>
                        </View>
                        <View style="margin-top: 20px; padding: 25px;box-shadow: 2px 2px 8px #AAA;">
                        <Header value="위 영상 속 인물이 작업자 당신과 이야기하는 것처럼 느껴졌다면  '네', 아니면  '아니오'로  생각하고, 아래 질문에 선택된 답변이 작업자 당신의 생각과 일치하는지 확인해주세요."></Header>
                        <Choices name="multimodal" toName="video" choice="single" required="true">
                            <Choice value="네" />
                            <Choice value="아니오" />
                        </Choices>
                          </View>
                      </View>
                    </View>
                `;

        let config = label;

        let interfaces = [
          "update",
          "controls"
        ];

        if (result.jobSubmitConfirm) {
          interfaces.splice(0, 1);
        }

        let isInspection = document.getElementsByName('isInspection')[0].dataset.value;
        isInspection = isInspection ? isInspection : false;
        if (isInspection) {
          config = inspection;
          interfaces.splice(0, 2);
          $('#label-studio').css('pointer-events', 'none');

          $('#help').html('검수 작업 방법 안내');
        } else {
          $('#help').html('라벨링 작업 방법 안내');
        }

        initLabelStudio(user, task, config, interfaces);

        if (isInspection) {
          $('video').css('pointer-events', 'auto');
        }

        if (!result.inspectionSubmitConfirm) {
          $('#inspectionText').css('display', 'block');
          $('.btn-inspection').css('display', 'inline');
        }

        $('.ls-submit-btn, .ls-update-btn').children().eq(1).text("제출");
      });

      let submit = labelOutput => {
        $('.ls-update-btn').children().eq(1).text("제출");

        let data = {
          'seq': JSON.parse(document.getElementsByName('result')[0].dataset.value).seq,
          'labelOutput': labelOutput
        }

        $.ajax({
          url: '/job/edit',
          type: 'POST',
          data: JSON.stringify(data),
          contentType: 'application/json',
          success: function(result) {
            if (result.success) {
              $.callModal('라벨링 작업');
            } else {
              $.resultToString(result);
            }
          }
        });
      }

      let initLabelStudio = (user, task, config, interfaces) => {
        let labelStudio = new LabelStudio('label-studio', {
          config: config,
          interfaces: interfaces,
          user,
          task,

          onLabelStudioLoad: function(LS) {
            let c = LS.completionStore.addCompletion({
              userGenerate: true
            });
            LS.completionStore.selectCompletion(c.id);
          },

          onSubmitCompletion: function(ls, completion) {
            submit(JSON.stringify(completion.serializeCompletion()));
          },

          onUpdateCompletion: function(ls, completion) {
            submit(JSON.stringify(completion.serializeCompletion()));
          }
        });
      }
    </script>
  </th:block>
</body>
