<!DOCTYPE html>
<html>

	{% include help/head.html %}

	<body class="is-preload">
		<!-- Wrapper -->
		<div id="wrapper">
			<!-- Header -->
			<header id="header" class="title">
				<h1>Help</h1>
			</header>

			<!-- Main -->
			<div id="main">
				<section class="main">
					<header class="major">

						{% include help/labeling.html %}

					</header>

					{% include help/footer.html %}

				</section>
			</div>

			<!-- Footer -->
			<footer id="footer"></footer>
		</div>

		{% include help/scripts.html %}

	</body>
</html>
